**Introduction**
  We propose to achieve movie genre classification based only on movie poster images. A deep neural network is constructed to jointly describe visual appearance and object information, and classify a given movie poster image into genres. Because a movie may belong to multiple genres, this is a multi-label image classification problem. To facilitate related studies, we collect a large-scale movie poster dataset, associated with various metadata. Based on this dataset, we fine-tune a pre-trained convolutional neural network to extract visual representation and adopt a state-of-the-art framework to detect objects in posters. Two types of information are then integrated by the proposed neural network. In the evaluation, we show that the proposed method yields encouraging performance, which is much better than previous works. "

In [1]:
!pip install tensorflow-gpu==2.0.0

Collecting tensorflow-gpu==2.0.0
  Downloading https://files.pythonhosted.org/packages/25/44/47f0722aea081697143fbcf5d2aa60d1aee4aaacb5869aee2b568974777b/tensorflow_gpu-2.0.0-cp36-cp36m-manylinux2010_x86_64.whl (380.8MB)
     |████████████████████████████████| 380.8MB 38kB/s
Requirement already satisfied: protobuf>=3.6.1 in /usr/local/lib/python3.6/dist-packages (from tensorflow-gpu==2.0.0) (3.10.0)
Requirement already satisfied: keras-applications>=1.0.8 in /usr/local/lib/python3.6/dist-packages (from tensorflow-gpu==2.0.0) (1.0.8)
Requirement already satisfied: termcolor>=1.1.0 in /usr/local/lib/python3.6/dist-packages (from tensorflow-gpu==2.0.0) (1.1.0)
Requirement already satisfied: grpcio>=1.8.6 in /usr/local/lib/python3.6/dist-packages (from tensorflow-gpu==2.0.0) (1.15.0)
Requirement already satisfied: wheel>=0.26 in /usr/local/lib/python3.6/dist-packages (from tensorflow-gpu==2.0.0) (0.33.6)
Collecting tensorboard<2.1.0,>=2.0.0
  Downloading https://files.pythonhosted.org/packages/9b/a6/e8ffa4e2ddb216449d34cfcb825ebb38206bee5c4553d69e7bc8bc2c5d64/tensorboard-2.0.0-py3-none-any.whl (3.8MB)
     |████████████████████████████████| 3.8MB 43.7MB/s
Requirement already satisfied: opt-einsum>=2.3.2 in /usr/local/lib/python3.6/dist-packages (from tensorflow-gpu==2.0.0) (3.1.0)
Requirement already satisfied: keras-preprocessing>=1.0.5 in /usr/local/lib/python3.6/dist-packages (from tensorflow-gpu==2.0.0) (1.1.0)
Requirement already satisfied: gast==0.2.2 in /usr/local/lib/python3.6/dist-packages (from tensorflow-gpu==2.0.0) (0.2.2)
Requirement already satisfied: numpy<2.0,>=1.16.0 in /usr/local/lib/python3.6/dist-packages (from tensorflow-gpu==2.0.0) (1.16.5)
Requirement already satisfied: six>=1.10.0 in /usr/local/lib/python3.6/dist-packages (from tensorflow-gpu==2.0.0) (1.12.0)
Requirement already satisfied: google-pasta>=0.1.6 in /usr/local/lib/python3.6/dist-packages (from tensorflow-gpu==2.0.0) (0.1.7)
Requirement already satisfied: astor>=0.6.0 in /usr/local/lib/python3.6/dist-packages (from tensorflow-gpu==2.0.0) (0.8.0)
Collecting tensorflow-estimator<2.1.0,>=2.0.0
  Downloading https://files.pythonhosted.org/packages/fc/08/8b927337b7019c374719145d1dceba21a8bb909b93b1ad6f8fb7d22c1ca1/tensorflow_estimator-2.0.1-py2.py3-none-any.whl (449kB)
     |████████████████████████████████| 450kB 50.7MB/s
Requirement already satisfied: absl-py>=0.7.0 in /usr/local/lib/python3.6/dist-packages (from tensorflow-gpu==2.0.0) (0.8.1)
Requirement already satisfied: wrapt>=1.11.1 in /usr/local/lib/python3.6/dist-packages (from tensorflow-gpu==2.0.0) (1.11.2)
Requirement already satisfied: setuptools in /usr/local/lib/python3.6/dist-packages (from protobuf>=3.6.1->tensorflow-gpu==2.0.0) (41.4.0)
Requirement already satisfied: h5py in /usr/local/lib/python3.6/dist-packages (from keras-applications>=1.0.8->tensorflow-gpu==2.0.0) (2.8.0)
Requirement already satisfied: markdown>=2.6.8 in /usr/local/lib/python3.6/dist-packages (from tensorboard<2.1.0,>=2.0.0->tensorflow-gpu==2.0.0) (3.1.1)
Requirement already satisfied: werkzeug>=0.11.15 in /usr/local/lib/python3.6/dist-packages (from tensorboard<2.1.0,>=2.0.0->tensorflow-gpu==2.0.0) (0.16.0)
ERROR: tensorflow 1.15.0 has requirement tensorboard<1.16.0,>=1.15.0, but you'll have tensorboard 2.0.0 which is incompatible.
ERROR: tensorflow 1.15.0 has requirement tensorflow-estimator==1.15.1, but you'll have tensorflow-estimator 2.0.1 which is incompatible.
Installing collected packages: tensorboard, tensorflow-estimator, tensorflow-gpu
  Found existing installation: tensorboard 1.15.0
    Uninstalling tensorboard-1.15.0:
      Successfully uninstalled tensorboard-1.15.0
  Found existing installation: tensorflow-estimator 1.15.1
    Uninstalling tensorflow-estimator-1.15.1:
      Successfully uninstalled tensorflow-estimator-1.15.1
Successfully installed tensorboard-2.0.0 tensorflow-estimator-2.0.1 tensorflow-gpu-2.0.0

# New Section

# New Section

In [0]:
import pandas as pd
import json
import glob  
import matplotlib.pyplot as plt
import numpy as np
import tensorflow as tf
from tensorflow.keras import Sequential
from tensorflow.keras.layers import Flatten,Dense,Conv2D,MaxPool2D

In [0]:
from tensorflow.keras.optimizers import Adam
from tensorflow.keras.preprocessing import image

In [0]:
from sklearn.model_selection import train_test_split
from tqdm import tqdm

In [5]:
print(tf.__version__)

2.0.0

In [6]:
!git clone https://github.com/sweetcoonoor/Multiclassification_Genre.git

Cloning into 'Multiclassification_Genre'...
remote: Enumerating objects: 7, done.
remote: Counting objects: 100% (7/7), done.
remote: Compressing objects: 100% (7/7), done.
remote: Total 829 (delta 1), reused 0 (delta 0), pack-reused 822
Receiving objects: 100% (829/829), 24.18 MiB | 3.36 MiB/s, done.
Resolving deltas: 100% (52/52), done.

In [0]:
!git clone https://github.com/laxmimerit/Movies-Poster_Dataset.git

Cloning into 'Movies-Poster_Dataset'...
remote: Enumerating objects: 7873, done.
remote: Counting objects: 100% (7873/7873), done.
remote: Compressing objects: 100% (7873/7873), done.
remote: Total 7873 (delta 1), reused 7872 (delta 0), pack-reused 0
Receiving objects: 100% (7873/7873), 246.59 MiB | 38.64 MiB/s, done.
Resolving deltas: 100% (1/1), done.
Checking out files: 100% (7871/7871), done.

In [0]:
ff=open("/content/Multiclassification_Genre/1980.txt","r")
Movies=ff.read()
comma=Movies.replace("}","},")
newc=comma[:-2]
sqaureAdd="["+newc+"]"
aaa=sqaureAdd.replace("\n","")
jj=aaa.replace("ObjectId(","").replace("\")","\"")
fin=json.loads(jj)
df = pd.DataFrame.from_dict(fin, orient='columns')

In [0]:
cols=df.columns
dfFin=pd.DataFrame(columns=cols)
cols=df.columns
dfFin=pd.DataFrame(columns=cols)
dfFin
dfFin2=dfFin

In [14]:
all_files = glob.glob("/content/Multiclassification_Genre/*.txt")

print((all_files))
count=0
for files in all_files:
  try:
    ff=open(files,"r",encoding='utf-16')
    stringg=ff.read()
    comma=Movies.replace("}","},")
    newc=comma[:-2]
    sqaureAdd="["+newc+"]"
    aaa=sqaureAdd.replace("\n","")
    jj=aaa.replace("ObjectId(","").replace("\")","\"")
    fin=json.loads(jj)
    df = pd.DataFrame.from_dict(fin, orient='columns')
    dfFin=pd.concat([dfFin,df])
  except:
    ff=open(files,"r",encoding='utf-8')
    stringg=ff.read()
    comma=Movies.replace("}","},")
    newc=comma[:-2]
    sqaureAdd="["+newc+"]"
    aaa=sqaureAdd.replace("\n","")
    jj=aaa.replace("ObjectId(","").replace("\")","\"")
    fin=json.loads(jj)
    df = pd.DataFrame.from_dict(fin, orient='columns')
    dfFin=pd.concat([dfFin,df])

['/content/Multiclassification_Genre/1994.txt', '/content/Multiclassification_Genre/1981.txt', '/content/Multiclassification_Genre/1999.txt', '/content/Multiclassification_Genre/2009.txt', '/content/Multiclassification_Genre/2010.txt', '/content/Multiclassification_Genre/1998.txt', '/content/Multiclassification_Genre/1996.txt', '/content/Multiclassification_Genre/1986.txt', '/content/Multiclassification_Genre/2011.txt', '/content/Multiclassification_Genre/1984.txt', '/content/Multiclassification_Genre/1982.txt', '/content/Multiclassification_Genre/2015.txt', '/content/Multiclassification_Genre/1980.txt', '/content/Multiclassification_Genre/1989.txt', '/content/Multiclassification_Genre/1992.txt', '/content/Multiclassification_Genre/2006.txt', '/content/Multiclassification_Genre/1991.txt', '/content/Multiclassification_Genre/1993.txt', '/content/Multiclassification_Genre/2008.txt', '/content/Multiclassification_Genre/1997.txt', '/content/Multiclassification_Genre/2013.txt', '/content/Multiclassification_Genre/1983.txt', '/content/Multiclassification_Genre/2000.txt', '/content/Multiclassification_Genre/1988.txt', '/content/Multiclassification_Genre/2004.txt', '/content/Multiclassification_Genre/2003.txt', '/content/Multiclassification_Genre/1987.txt', '/content/Multiclassification_Genre/1985.txt', '/content/Multiclassification_Genre/2005.txt', '/content/Multiclassification_Genre/2012.txt', '/content/Multiclassification_Genre/2002.txt', '/content/Multiclassification_Genre/2014.txt', '/content/Multiclassification_Genre/1990.txt', '/content/Multiclassification_Genre/1995.txt', '/content/Multiclassification_Genre/2007.txt', '/content/Multiclassification_Genre/2001.txt']

In [15]:
Movie_data=pd.concat([dfFin,dfFin2])
#Movie_data.head()
Movie_data.shape

(6984, 20)

Data Exploration and Pre-processing

In [16]:
Movie_Final=Movie_data[['imdbID','Title','Genre',]]
Movie_Final.shape

(6984, 3)

In [0]:
Movie_Final.to_csv('Movie_genre.csv',encoding="ISO-8859-1")

In [0]:
#Onehot encoding
df = pd.read_csv("Movie_genre.csv")

df.dropna(subset=['Genre'],inplace=True)
df.drop_duplicates(subset=['imdbID'], keep='first', inplace=True)
df.set_index('imdbID',inplace=True)
target = df['Genre'].apply(lambda x: [w.strip() for w in x.split(',')])
genres = pd.get_dummies(target.apply(pd.Series).stack()).sum(level=0)

In [19]:
df

           Unnamed: 0  ...                       Genre
imdbID                 ...
tt0080684           0  ...  Action, Adventure, Fantasy
tt0081562           1  ...               Comedy, Crime
tt0080339           2  ...                      Comedy
tt0080377           3  ...              Action, Comedy
tt0081375           4  ...                 Comedy, War
tt0080549           5  ...     Biography, Drama, Music
tt0081529           6  ...              Action, Comedy
tt0080453           7  ...   Adventure, Drama, Romance
tt0080455           8  ...       Action, Comedy, Crime
tt0081283           9  ...                       Drama
tt0081353          10  ...   Adventure, Comedy, Family
tt0081696          11  ...     Drama, Romance, Western
tt0081505          12  ...               Drama, Horror
tt0081480          13  ...             Comedy, Romance
tt0080520          14  ...       Comedy, Crime, Sci-Fi
tt0080487          15  ...               Comedy, Sport
tt0080474          16  ...                       Drama
tt0081060          17  ...               Comedy, Drama
tt0080661          18  ...           Mystery, Thriller
tt0080948          19  ...       Drama, Music, Romance
tt0080745          20  ...   Action, Adventure, Sci-Fi
tt0080678          21  ...            Biography, Drama
tt0080472          22  ...   Action, Adventure, Comedy
tt0081398          23  ...     Biography, Drama, Sport
tt0081777          24  ...   Fantasy, Musical, Romance
tt0080365          25  ...       Crime, Drama, Mystery
tt0081207          26  ...       Comedy, Drama, Family
tt0080749          27  ...             Fantasy, Horror
tt0080360          28  ...    Horror, Sci-Fi, Thriller
tt0080569          29  ...    Crime, Mystery, Thriller
...               ...  ...                         ...
tt0080850          67  ...            Horror, Thriller
tt0080550          68  ...      Comedy, Drama, Romance
tt0081758          69  ...      Comedy, Drama, Romance
tt0081150          70  ...               Comedy, Drama
tt0081433          71  ...             Comedy, Musical
tt0080798          72  ...      Crime, Drama, Thriller
tt0080979          73  ...         Drama, History, War
tt0081414          74  ...              Drama, Fantasy
tt0080868          75  ...                       Drama
tt0081747          76  ...    Action, Adventure, Drama
tt0080855          77  ...   Adventure, Drama, Western
tt0081159          78  ...              Family, Comedy
tt0081080          79  ...                      Comedy
tt0080913          80  ...     Biography, Drama, Music
tt0080442          81  ...      Crime, Romance, Comedy
tt0080790          82  ...         Comedy, Documentary
tt0081759          83  ...             Drama, Thriller
tt0080975          84  ...             Comedy, Romance
tt0080461          85  ...   Animation, Comedy, Family
tt0080500          86  ...                       Drama
tt0081753          87  ...               Comedy, Drama
tt0081235          88  ...     Biography, Drama, Music
tt0080854          89  ...                       Drama
tt0081280          90  ...                       Drama
tt0081625          91  ...             Comedy, Romance
tt0081528          92  ...                       Drama
tt0081044          93  ...             Romance, Comedy
tt0079302          94  ...                      Comedy
tt0081334          95  ...     Drama, Horror, Thriller
tt0080469          96  ...              Drama, Musical

[97 rows x 3 columns]

In [35]:

target.shape
Movie_Final

       imdbID  ...                       Genre
0   tt0080684  ...  Action, Adventure, Fantasy
1   tt0081562  ...               Comedy, Crime
2   tt0080339  ...                      Comedy
3   tt0080377  ...              Action, Comedy
4   tt0081375  ...                 Comedy, War
5   tt0080549  ...     Biography, Drama, Music
6   tt0081529  ...              Action, Comedy
7   tt0080453  ...   Adventure, Drama, Romance
8   tt0080455  ...       Action, Comedy, Crime
9   tt0081283  ...                       Drama
10  tt0081353  ...   Adventure, Comedy, Family
11  tt0081696  ...     Drama, Romance, Western
12  tt0081505  ...               Drama, Horror
13  tt0081480  ...             Comedy, Romance
14  tt0080520  ...       Comedy, Crime, Sci-Fi
15  tt0080487  ...               Comedy, Sport
16  tt0080474  ...                       Drama
17  tt0081060  ...               Comedy, Drama
18  tt0080661  ...           Mystery, Thriller
19  tt0080948  ...       Drama, Music, Romance
20  tt0080745  ...   Action, Adventure, Sci-Fi
21  tt0080678  ...            Biography, Drama
22  tt0080472  ...   Action, Adventure, Comedy
23  tt0081398  ...     Biography, Drama, Sport
24  tt0081777  ...   Fantasy, Musical, Romance
25  tt0080365  ...       Crime, Drama, Mystery
26  tt0081207  ...       Comedy, Drama, Family
27  tt0080749  ...             Fantasy, Horror
28  tt0080360  ...    Horror, Sci-Fi, Thriller
29  tt0080569  ...    Crime, Mystery, Thriller
..        ...  ...                         ...
67  tt0080850  ...            Horror, Thriller
68  tt0080550  ...      Comedy, Drama, Romance
69  tt0081758  ...      Comedy, Drama, Romance
70  tt0081150  ...               Comedy, Drama
71  tt0081433  ...             Comedy, Musical
72  tt0080798  ...      Crime, Drama, Thriller
73  tt0080979  ...         Drama, History, War
74  tt0081414  ...              Drama, Fantasy
75  tt0080868  ...                       Drama
76  tt0081747  ...    Action, Adventure, Drama
77  tt0080855  ...   Adventure, Drama, Western
78  tt0081159  ...              Family, Comedy
79  tt0081080  ...                      Comedy
80  tt0080913  ...     Biography, Drama, Music
81  tt0080442  ...      Crime, Romance, Comedy
82  tt0080790  ...         Comedy, Documentary
83  tt0081759  ...             Drama, Thriller
84  tt0080975  ...             Comedy, Romance
85  tt0080461  ...   Animation, Comedy, Family
86  tt0080500  ...                       Drama
87  tt0081753  ...               Comedy, Drama
88  tt0081235  ...     Biography, Drama, Music
89  tt0080854  ...                       Drama
90  tt0081280  ...                       Drama
91  tt0081625  ...             Comedy, Romance
92  tt0081528  ...                       Drama
93  tt0081044  ...             Romance, Comedy
94  tt0079302  ...                      Comedy
95  tt0081334  ...     Drama, Horror, Thriller
96  tt0080469  ...              Drama, Musical

[6984 rows x 3 columns]

In [43]:
Movie_genre=Movie_Final
Movie_genre['Genre']=[elem[0:5] for elem in Movie_genre['Genre']]

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [0]:
Movie_genre['Genre']

In [0]:
Moviegenrestats=Movie_genre.groupby('Genre').size().reset_index(name='counts')

In [45]:
Moviegenrestats

  Genre  counts
0     A    1368
1     B     432
2     C    2952
3     D    1440
4     F     216
5     H     288
6     M     144
7     R      72
8     W      72

In [0]:
Moviegenrestats=Moviegenrestats.sort_values('counts',ascending=False)

In [48]:
Moviegenrestats

  Genre  counts
2     C    2952
3     D    1440
0     A    1368
1     B     432
5     H     288
4     F     216
6     M     144
7     R      72
8     W      72