In [0]:
import pandas as pd
import json
import glob

In [0]:
path="https://raw.githubusercontent.com/sweetcoonoor/sweetram/master/1981.txt"

In [0]:
ff=open("1980.txt","r")
Movies=ff.read()
comma=Movies.replace("}","},")
newc=comma[:-2]
sqaureAdd="["+newc+"]"
aaa=sqaureAdd.replace("\n","")
jj=aaa.replace("ObjectId(","").replace("\")","\"")
fin=json.loads(jj)
df = pd.DataFrame.from_dict(fin, orient='columns')

In [0]:
cols=df.columns
dfFin=pd.DataFrame(columns=cols)
cols=df.columns
dfFin=pd.DataFrame(columns=cols)
dfFin
dfFin2=dfFin

In [45]:
all_files = glob.glob("*.txt")

print((all_files))
count=0
for files in all_files:
  try:
    ff=open(files,"r",encoding='utf-16')
    stringg=ff.read()
    comma=Movies.replace("}","},")
    newc=comma[:-2]
    sqaureAdd="["+newc+"]"
    aaa=sqaureAdd.replace("\n","")
    jj=aaa.replace("ObjectId(","").replace("\")","\"")
    fin=json.loads(jj)
    df = pd.DataFrame.from_dict(fin, orient='columns')
    dfFin=pd.concat([dfFin,df])
  except:
    ff=open(files,"r",encoding='utf-8')
    stringg=ff.read()
    comma=Movies.replace("}","},")
    newc=comma[:-2]
    sqaureAdd="["+newc+"]"
    aaa=sqaureAdd.replace("\n","")
    jj=aaa.replace("ObjectId(","").replace("\")","\"")
    fin=json.loads(jj)
    df = pd.DataFrame.from_dict(fin, orient='columns')
    dfFin=pd.concat([dfFin,df])

['1998.txt', '1989.txt', '2004.txt', '1999.txt', '2009.txt', '2006.txt', '2002.txt', '1995.txt', '1997.txt', '1983.txt', '2000.txt', '1982.txt', '1981.txt', '1990.txt', '1987.txt', '2012.txt', '1986.txt', '2007.txt', '2001.txt', '1984.txt', '2008.txt', '1994.txt', '1992.txt', '2015.txt', '2011.txt', '1988.txt', '1991.txt', '1980.txt', '2013.txt', '2014.txt', '2005.txt', '2003.txt', '2010.txt', '1996.txt']

In [47]:
Movie_data=pd.concat([dfFin,dfFin2])
Movie_data.head()

                                              Actors  ... imdbVotes
0  Mark Hamill, Harrison Ford, Carrie Fisher, Bil...  ...   799,579
1  Gene Wilder, Richard Pryor, Georg Stanford Bro...  ...    17,705
2  Kareem Abdul-Jabbar, Lloyd Bridges, Peter Grav...  ...   154,994
3  Clint Eastwood, Sondra Locke, Geoffrey Lewis, ...  ...    12,639
4  Goldie Hawn, Eileen Brennan, Armand Assante, R...  ...    17,591

[5 rows x 20 columns]

Data Exploration and Pre-processing

In [0]:
Genre = Movie_data['Genre']

In [54]:
print(Genre)

0     Action, Adventure, Fantasy
1                  Comedy, Crime
2                         Comedy
3                 Action, Comedy
4                    Comedy, War
5        Biography, Drama, Music
6                 Action, Comedy
7      Adventure, Drama, Romance
8          Action, Comedy, Crime
9                          Drama
10     Adventure, Comedy, Family
11       Drama, Romance, Western
12                 Drama, Horror
13               Comedy, Romance
14         Comedy, Crime, Sci-Fi
15                 Comedy, Sport
16                         Drama
17                 Comedy, Drama
18             Mystery, Thriller
19         Drama, Music, Romance
20     Action, Adventure, Sci-Fi
21              Biography, Drama
22     Action, Adventure, Comedy
23       Biography, Drama, Sport
24     Fantasy, Musical, Romance
25         Crime, Drama, Mystery
26         Comedy, Drama, Family
27               Fantasy, Horror
28      Horror, Sci-Fi, Thriller
29      Crime, Mystery, Thriller
                 ...
67              Horror, Thriller
68        Comedy, Drama, Romance
69        Comedy, Drama, Romance
70                 Comedy, Drama
71               Comedy, Musical
72        Crime, Drama, Thriller
73           Drama, History, War
74                Drama, Fantasy
75                         Drama
76      Action, Adventure, Drama
77     Adventure, Drama, Western
78                Family, Comedy
79                        Comedy
80       Biography, Drama, Music
81        Crime, Romance, Comedy
82           Comedy, Documentary
83               Drama, Thriller
84               Comedy, Romance
85     Animation, Comedy, Family
86                         Drama
87                 Comedy, Drama
88       Biography, Drama, Music
89                         Drama
90                         Drama
91               Comedy, Romance
92                         Drama
93               Romance, Comedy
94                        Comedy
95       Drama, Horror, Thriller
96                Drama, Musical
Name: Genre, Length: 4462, dtype: object

In [0]:
#distribution of Movie Generes