In [0]:
import pandas as pd
import json
import glob

In [0]:
path="https://raw.githubusercontent.com/sweetcoonoor/sweetram/master/1981.txt"

In [0]:
ff=open("1980.txt","r")
Movies=ff.read()
comma=Movies.replace("}","},")
newc=comma[:-2]
sqaureAdd="["+newc+"]"
aaa=sqaureAdd.replace("\n","")
jj=aaa.replace("ObjectId(","").replace("\")","\"")
fin=json.loads(jj)
df = pd.DataFrame.from_dict(fin, orient='columns')

In [0]:
cols=df.columns
dfFin=pd.DataFrame(columns=cols)
cols=df.columns
dfFin=pd.DataFrame(columns=cols)
dfFin
dfFin2=dfFin

In [4]:
all_files = glob.glob("*.txt")

print((all_files))
count=0
for files in all_files:
  try:
    ff=open(files,"r",encoding='utf-16')
    stringg=ff.read()
    comma=Movies.replace("}","},")
    newc=comma[:-2]
    sqaureAdd="["+newc+"]"
    aaa=sqaureAdd.replace("\n","")
    jj=aaa.replace("ObjectId(","").replace("\")","\"")
    fin=json.loads(jj)
    df = pd.DataFrame.from_dict(fin, orient='columns')
    dfFin=pd.concat([dfFin,df])
  except:
    ff=open(files,"r",encoding='utf-8')
    stringg=ff.read()
    comma=Movies.replace("}","},")
    newc=comma[:-2]
    sqaureAdd="["+newc+"]"
    aaa=sqaureAdd.replace("\n","")
    jj=aaa.replace("ObjectId(","").replace("\")","\"")
    fin=json.loads(jj)
    df = pd.DataFrame.from_dict(fin, orient='columns')
    dfFin=pd.concat([dfFin,df])

['2005.txt', '1980.txt', '2002.txt', '1985.txt', '2015.txt', '1989.txt', '2013.txt', '2004.txt', '2014.txt', '1987.txt', '2007.txt', '1990.txt', '1988.txt', '1997.txt', '1993.txt', '1982.txt', '2010.txt', '2011.txt', '1981.txt', '1983.txt', '1999.txt', '1998.txt', '1996.txt', '1995.txt', '2009.txt', '2003.txt', '2012.txt', '1984.txt', '1991.txt', '1992.txt', '2001.txt', '2000.txt', '1994.txt', '2008.txt', '1986.txt', '2006.txt']

In [5]:
Movie_data=pd.concat([dfFin,dfFin2])
Movie_data.head()

                                              Actors  ... imdbVotes
0  Mark Hamill, Harrison Ford, Carrie Fisher, Bil...  ...   799,579
1  Gene Wilder, Richard Pryor, Georg Stanford Bro...  ...    17,705
2  Kareem Abdul-Jabbar, Lloyd Bridges, Peter Grav...  ...   154,994
3  Clint Eastwood, Sondra Locke, Geoffrey Lewis, ...  ...    12,639
4  Goldie Hawn, Eileen Brennan, Armand Assante, R...  ...    17,591

[5 rows x 20 columns]

Data Exploration and Pre-processing

In [0]:
Movie_Final=Movie_data[['Title','Genre','imdbID']]

In [47]:
Movie_Final.to_csv('Movie_genre.csv',index=False)
Movie_Final.head()

                                            Title  ...     imdbID
0  Star Wars: Episode V - The Empire Strikes Back  ...  tt0080684
1                                      Stir Crazy  ...  tt0081562
2                                       Airplane!  ...  tt0080339
3                           Any Which Way You Can  ...  tt0080377
4                                Private Benjamin  ...  tt0081375

[5 rows x 3 columns]

In [0]:
Movie_data['imdbID'] = Movie_data['imdbID'].astype(str)

In [12]:
from keras.preprocessing.image import load_img

Using TensorFlow backend.

In [0]:
image_glob=glob.glob("*.jpg")

In [40]:
import re
Genre = df.apply(lambda x: x['Genre'].split(","))
all_genres = set([item for i in Genre for item in l])
for genre in all_genres:
    new_var = "is_" + re.sub(r'\W+', '', genre.lower())
    df[new_var] = df.apply(lambda x: genre in x)
df.drop(["Genre"], axis=1, inplace=True)

NameError: ignored

In [36]:
Genre

Actors        [Sissy Spacek,  Tommy Lee Jones,  Levon Helm, ...
Awards          [Won 1 Oscar. Another 8 wins & 13 nominations.]
Box_office                                       [79, 900, 000]
Country                                                   [USA]
Director                                        [Michael Apted]
Genre                               [Biography,  Drama,  Music]
Language                                              [English]
Metascore                                                 [N/A]
Poster        [http://ia.media-imdb.com/images/M/MV5BMTkwMjU...
Rated                                                      [PG]
Released                                          [07 Mar 1980]
Response                                                 [True]
Runtime                                               [124 min]
Title                                   [Coal Miner's Daughter]
Type                                                    [movie]
Writer        [Thomas Rickman (screenplay),  Loretta Lynn (a...
_id                                  [56fb860e71a0651b0c306f5a]
imdbID                                              [tt0080549]
imdbRating                                                [7.5]
imdbVotes                                             [12, 692]
dtype: object